apiVersion: azure.upbound.io/v1beta1
kind: ProviderConfig
metadata:
  name: azure-primary-config
spec:
  credentials:
    source: Secret
    secretRef:
      namespace: crossplane-system
      name: azure-creds 
      key: key
    environment: AzurePublicCloud